{% extends 'base.html.twig' %}

{% block body %}
    <center><h1>Bienvenue dans cette brocante en ligne</h1></center>
        <br>
        <br>
        <br>
        <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div>
            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div> 
            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div>      
        </div>
        <hr style="border-color : white; margin-bottom:5rem; margin-top:5rem;">
        <div class="row">
            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div>

            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div>

            <div class="col-lg-4">
                    <a href="" style="background-color: transparent !important; color: white; padding-top: 50px; padding-left:50px; padding-bottom:50px; padding-right:50px;"></a>
            </div>
        </div>
    </div>

{% endblock %}