{% extends 'base.html.twig' %}

{% block body %}

    <center>
        <h1>
            Nos produits
        </h1>
    </center>
    <section>
    
    </section>
    <hr style="border-color : white; margin-bottom:5rem; margin-top:5rem;">
    
{% endblock %}